name: Rust

on:
  push:
    branches: [ "main" ]
    tags: v*

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Run tests
      run: cargo test --verbose
    - name: Install tools
      run: cargo install cargo-deb
    - name: Package
      run: cargo deb
    - name: Publish artifacts
      uses: actions/upload-artifact@master
      with:
        name: acr-mirror-deb
        path: release/debian/*.deb
  release:
    name: Release
    runs-on: ubuntu-latest
    needs: build
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@master
        with:
          name: acr-mirror-deb
          path: build/
      - name: Release
        uses: fnkr/github-action-ghr@v1
        env:
          GHR_PATH: build/
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
